<div class="contactPage">

    <h1 class="page_title">Contact Me</h1>
    <p class="page_paragraph">
        Thank you for viewing my portfolio. To contact me, please fill in the form below and I will respond to the
        message as soon as possible.
    </p>

    <div class="contact_form_container">
        <h3>* required field</h3>
        <div class="contact_form">
            <form action="/" method="POST">
                <div class="input_field">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Your name...">
                </div>
                <div class="input_field">
                    <label for="email">Email address *</label>
                    <input type="email" name="email" placeholder="Your email address..." required>
                </div>
                <div class="input_field">
                    <label for="subject">Subject *</label>
                    <input type="text" name="subject" placeholder="Subject..." required>
                </div>
                <div class="input_field">
                    <label for="message">Message *</label>
                    <textarea type="text" name="message" placeholder="Your message..." required></textarea>
                </div>
                <div class="input_field">
                    <input type="submit" value="Submit" class="submit_button">
                </div>
            </form>
        </div>
    </div>
</div>