<div class="indexPage">
  <div class="background">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
  </div>
  <div class="intro">
    <img style="rotate: -25deg;" src="../../pics/Main/profile.png" alt="Main Photo">
    <h1 class="page_title">Alex Purser</h1>
    <h2>BSc Computer Science Student at Falmouth University.</h2>
  </div>
</div>