<div class="indexPage">
  <div class="background">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
  </div>
  <div class="intro">
    <img style="rotate: -25deg;" src="../../pics/profile.png" alt="">
    <h1 class="page_title">Alex Purser</h1>
    <h2>BSc Computer Science Student at Falmouth University.</h2>
  </div>
  {{!-- <div class="about_me_container">
    <div class="about_me_image">
      <img src="../../pics/Index/me_fred.png" alt="">
    </div>
    {{!-- <div class="about_me_text">
      <h1>About Me</h1>
      <p class="page_paragraph">
        Hi, my name is Alex Purser. I was born and raised in Cambridgeshire but moved to Falmouth for studying. I am
        currently
        studying for a
        Bachelor of Science in Computer Science in order to one day achieve a dream job within the technology industry.
        Having grown up with technology, it has always intrigued me and eventually drove me to studying it. Throughout
        my
        childhood I would always play games, code, use the internet etc.
        Having access to great resources and systems of my own further enhanced this interest, leading to today.
        Studying
        at university has been great. In my first year I have studied lots about hardware, software, data analysis and
        game development, which have all been very fascinating and enjoyable. More information about these can be seen
        in
        <a href="/projects"> Projects</a>.
        While I have always been
        tech heavy, I do enjoy real-life stuff, such as sports and reading. I have played many sports, including
        football,
        hockey and softball, and now I have found myself focusing on two
        mainly: badminton and golf. At university, I have joined the badminton society and the Chrisitan Union. These
        societies are great at keeping me busy and social, and are great for stress relief and enjoyment.
      </p>
    </div> --}}
  </div> --}}
</div>