<div class="thanksPage">
    <h1 class="page_title">Thank you for contacting me.</h1>
    <p class="page_paragraph">Your message has been sent and you can expect a response within a few days.</p>
    <div class="return">
        <a href="/">Return to home page.</a>
    </div>
</div>