$header-primary: #ffffff;
$header-hover: #B3B3B3;

// Light mode
$text-light: black;
$background-light: rgb(106, 206, 252);
$header-light: white;
$background-anim-light: linear-gradient(-60deg, rgb(31, 209, 253) 50%, rgb(32, 106, 218)50%);
$card-background-light: #f8f8f8;
$read-more-light: #1e208d;
$input-background-light: #ededed;


// Dark mode
$text-dark: white;
$background-dark: #09316e;
$header-dark: black;
$background-anim-dark: linear-gradient(-60deg, rgb(52, 76, 235) 50%, rgb(8, 15, 84) 50%);
$card-background-dark: #121212;
$read-more-dark: #66B7C7;
$input-background-dark: #232323;

// ---------------------- All pages ---------------------- //

.dark_mode {
    color: $text-dark;
    background-color: $background-dark;

    // ------------- Layout ------------- //
    .Header {
        background-color: $background-dark;

        .Logo {
            a {
                span {
                    color: $text-dark;
                }
            }
        }

        .socials_container {
            .socials {
                a {
                    color: $text-dark;
                }
            }
        }

        .Nav_buttons {
            a {
                color: $text-dark;
            }

            .bulb_icon {

                .line {
                    display: inline-block;
                }
            }
        }

    }

    .readMore {
        color: $read-more-dark;
    }

    // ------------- Index ------------- //

    .about_me_container {
        background-color: $background-dark;
    }

    .background {
        .bg {
            background-image: $background-anim-dark;
        }
    }

    // ------------- Employment ------------- //

    .employment_container {
        .event_info_container {
            background-color: $card-background-dark;
            color: $text-dark;
        }

        .timeline_container {
            ul {
                background-color: $background-light;

                li {
                    background-color: $background-light;
                    //border-color: $background-light;

                }
            }

        }
    }

    // ------------- Projects ------------- //

    .projects_layout {
        .card_container {
            background-color: $card-background-dark;
        }
    }

    .popup_box {
        background-color: $card-background-dark;
        border-color: $card-background-dark;

        .popup_content {
            .link {
                color: $text-dark;
            }
        }

    }

    .slide_dot {
        background-color: $read-more-dark;
    }

    .active_dot,
    .slide_dot:hover {
        background-color: $text-dark;
    }

    // ------------- Contact Me ------------- //

    .contact_form {
        color: $text-dark;

        .input_field {
            input {
                background-color: $input-background-dark;
            }

            textarea {
                background-color: $input-background-dark;
            }

        }

    }

    .contact_form_container {
        color: $text-dark;
        background-color: $card-background-dark;
    }


}

body {
    overflow-y: auto;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: $background-light;
    color: $text-light;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    p h1 h2 h3 {
        color: $text-light;
    }

}

.Header {
    margin: 0;
    overflow: hidden;
    padding: 12px 10px;
    background-color: $background-light;

    .Logo {
        float: left;
        padding: 10px;

        a {
            span {
                color: $text-light;
                text-align: center;
                padding: 12px;
                font-size: 25px;
                line-height: 25px;
                border-radius: 4px;
            }
        }

        :hover {
            background-color: $header-hover;
            color: $text-dark;
        }
    }

    .socials_container {
        display: block;
        margin: auto;
        width: 50%;
        text-align: center;

        }
        
        .Nav_buttons {
            float: right;

            a {
            color: $text-light;
            float: left;
            text-align: center;
            text-decoration: none;
            padding: 12px;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
            }
            
        :hover {
            background-color: $header-hover;
        }
    }
    }

    .burger_button {
        display: none;
    float: right;
    
    i {
        font-size: 40px;
        color: $text-light;
    }
}

.socials {
    a {
        color: $text-light;
        padding: 5px;
    }

    i {
        font-size: 28px;
    }

    :hover {
        opacity: 0.7;

    }
}

.burger_contents {
    display: none;
    position: absolute;
    top: 68px;
    right: 0px;
    width: 25%;
    min-width: 200px;
    z-index: 1000;
    background-color: $background-light;

    .burger_socials {
        display: none;

        a {
            width: 10%;
            margin: auto;
            font-size: 28px;
            padding: 5px;
            color: $text-light;
        }
    }

    a {
        font-size: 20px;
        display: block;
        width: 100%;
        color: $text-light;
        padding: 10px 20px;
    }

    a:hover {
        background-color: rgb(58, 58, 58);
    }
}

.burger_active {
    display: inline-block;

    .burger_contents {
        display: block;
    }
}

.page_title {
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}

.page_paragraph {
    font-size: 18px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
}

.bulb_icon {
    display: inline-block;
    position: relative;

    .line {
        display: none;
        width: 2em;
        height: 2px;
        background-color: white;
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

// header width, take out navigation
@media only screen and (max-width: 870px) {
    .Header {
        .socials_container {
            display: inline-block;
        }

        .Nav_buttons {
            display: none;
        }

        .burger_button {
            display: inline-block;
        }
    }
}

// header width, take out socials
@media only screen and (max-width: 510px) {
    .Header {
        .socials_container {
            display: none;
        }

        .burger_contents {
            .burger_socials {
                display: block;
            }
        }
    }
}

// header width, ensure when out of burger width, contents are disabled
@media only screen and (min-width: 870px) {
    .burger_contents {
        display: none;
    }
}

// ---------------------- Index ---------------------- //

.intro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    img {
        margin-top: -10%;
        width: 12%;
        max-width: 500px;
        min-width: 140px;
        height: auto;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    h1 {
        margin-top: 20px;
        padding: 20px;
        font-size: 44px;
    }

    h2 {
        margin-top: 10px;
        padding: 20px;
        font-size: 28px;
    }
}

.about_me_container {
    width: 100%;
    background-color: $background-light;
    padding: 40px 0px;

    .about_me {
        margin: auto;
        padding: 0px 20px;
        text-align: center;

        a {
            text-decoration: underline;
        }

        p {
            padding: 20px 0px;
        }
    }
}

.background {
    .bg {
        animation: slide 5s ease-in-out infinite alternate;
        background-image: $background-anim-light;
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }

    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 6s;
    }

    .bg3 {
        animation-duration: 7s;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

// ---------------------- Contact page ---------------------- //

.contact_form_container {
    max-width: 1000px;
    width: 90%;
    min-width: 50%;
    margin: auto;
    border-radius: 16px;
    background-color: $card-background-light;
    padding: 30px 20px;
    color: $text-light;
}

.contact_form {
    color: $text-light;

    .input_field {
        display: block;
        margin: 10px 0px;
        border: none;

        label {
            float: left;
            width: 100%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 24px;
            padding: 10px 0px;
        }

        input {
            border: none;
            border-radius: 12px;
            width: calc(100% - 20px); // 20px = 2 * padding
            padding: 10px;
            font-size: 20px;
            background-color: $input-background-light;
        }

        textarea {
            border: none;
            margin-top: 10px;
            font-size: 16px;
            min-height: 200px;
            max-height: 500px;
            min-width: 100%;
            max-width: 100%;
            background-color: $input-background-light;
        }

        .submit_button {
            background-color: #daa520;
            border-color: goldenrod;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 100%;
            font-size: 24px;
            text-align: center;
            color: black;
            border-radius: 12px;
        }

        .submit_button:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
}

// ---------------------- Employment ---------------------- //

.employment_container {
    width: 85%;
    margin: auto;

    .event_info_container {
        float: right;
        background-color: $card-background-light;
        padding: 24px;
        border-radius: 16px;
        width: 35%;
        overflow: hidden;
        min-height: 600px;
        box-shadow: -12px -12px 22px #072045,
            12px 12px 22px #0e3d84;
    }

    .timeline_container {
        display: inline-block;
        width: 50%;
        height: 400px;
        padding: 20px 0px;
        gap: 30px 0px;
        text-align: center;
        transform: translate(-5%, 25%);

        .guide {
            transform: translate(5%, 0%);

            i {
                font-style: bold;
                position: relative;
                left: 0;
                transition: 400ms cubic-bezier(.2, .7, .5, 1);
            }

            h1:hover i {
                left: -20px;
            }
        }

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            position: relative;

            // line
            &:after {
                content: '';
                display: block;
                width: calc(100% - 50px); // 50px = 2 * padding + 10px buffer
                height: 5px;
                background-color: $background-dark;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(7%, -50%);
                z-index: -1;
            }

            li {
                list-style-type: none;
                position: relative;
                cursor: pointer;

                // dots
                &:after {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $background-dark;
                    border: 4px solid;
                    border-color: $background-dark;
                    transition: background-color .2s ease;
                }

                span {
                    position: absolute;
                    top: calc(100% + 20px);
                    left: 50%;
                    transform: translate(-80%, 0);
                    display: inline-block;
                    text-align: center;

                    img {
                        border-radius: 12px;
                        transition: 600ms;
                        width: 100px;
                        aspect-ratio: 1;
                        overflow: hidden;
                        transform-origin: center;
                        box-shadow: -11px -11px 16px #051a3b,
                            11px 11px 21px #1c4788;
                    }

                    :hover {
                        cursor: pointer;
                        transform: scale(1.2, 1.2);
                    }
                }
            }
        }

        // dot hover
        li:hover:after {
            background-color: #0b0b0b;
        }
    }
}

.event_info {
    display: none;
    list-style: none;
    padding: 10px;
    position: relative;
    animation: slide_in 1s;

    h2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 28px;
        width: 100%;
        padding: 5px 0px;
    }

    p {
        float: left;
        //display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        width: 100%;
    }
}

.event_active {
    display: block;
}

.event_active_pic {
    transform: scale(1.2, 1.2);

    &:after {
        background-color: #0b0b0b;
    }
}

// display timeline above info box
@media only screen and (max-width: 1000px) {
    .employment_container {
        .event_info_container {
            display: block;
            width: 90%;
            margin: auto;
        }

        .timeline_container {
            display: block;
            width: 90%;
            margin: auto;
        }
    }
}

// shrink job icons
@media only screen and (max-width: 600px) {
    .employment_container {
        .timeline_container {
            ul {
                li {
                    span {
                        img {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }

    .projects_layout {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

// ---------------------- Projects ---------------------- //

.projects_layout {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 48px;
    margin: 5%;

    .card_container {
        background-color: $card-background-light;
        border-radius: 16px;
        box-shadow: -12px -12px 22px #072045, 12px 12px 22px #0e3d84;
        transition: 600ms;
        overflow: hidden;

        .card_image_content {
            display: flex;
            flex-direction: column;

            figure {
                margin: 0;
                padding: 0;
                width: 100%;
                aspect-ratio: 16 / 9;
                overflow: hidden;
                flex-shrink: 0;

                .card_pic {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }

        .card_content {
            padding: 0px 12px;

            .card_header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .card_title {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 28px;
                    margin-right: 16px;
                    flex: 1;
                }

                .card_date {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 18px;
                    padding-top: 6px;
                    white-space: nowrap;
                }
            }

            .card_info {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20px;
                overflow: hidden;
                width: 100%;

                // Limit the number of lines shown
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }

    .card_container:hover {
        transform: scale(1.05, 1.05);
    }

    @media only screen and (max-width: 1100px) {
        //grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        margin: 3%;

    }

    @media only screen and (max-width: 400px) {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 10px;
        margin: 1%;
    }

}

.readMore {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: $read-more-light;
    cursor: pointer;
}

.popup_box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    padding: 20px;
    border-radius: 16px;
    background-color: $card-background-light;
    border-color: $card-background-light;
    box-shadow: 38px 38px 31px #070a0f, -38px -38px 31px #1d2a3d;
    overflow: hidden;

    .popup_content {
        overflow-y: auto;
        height: 100%;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.2);


        .slideshow_container {
            width: 100%;
            margin: auto;
            border-radius: 16px;
            padding: 0;
        }

        h2 {
            width: 100%;
            display: block;
            float: left;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .popup_title {
            font-size: 28px;
        }

        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-left: 2.5%;
            max-width: 95%;
            font-size: 20px;
        }

        .link {
            color: $text-light;
            padding-bottom: 10px;
            text-decoration: underline;
        }

        .link:hover {
            opacity: 70%;
        }

    }

    @media only screen and (max-width: 1000px) {
        width: 90%;
        height: 60%;

        .popup_content {
            p {
                font-size: 16px;
            }
        }
    }
}

.popup_box_active {
    display: block;
}

.popup_pic {
    display: block;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

.slide {
    display: none;

    img {
        border-radius: 16px;
        transition: 600ms;
        display: inline-block;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        transform-origin: center;
    }
}

.slide_dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $text-light;
    border-radius: 50%;

}

.active_dot,
.slide_dot:hover {
    background-color: $background-light;
}

.active_popup_pic {
    display: block;
}

// ---------------------- Thanks ---------------------- //

.return {
    width: 15%;
    margin: auto;
    border-radius: 5px;
    border: 2px solid #81ecec;
    text-align: center;
    padding: 10px 30px;

    a {
        font-size: 18px;
        color: white;
        text-decoration: none;
    }
}

.return:hover {
    cursor: pointer;
    background-color: #B3B3B3;

    a {
        color: black;
    }
}

@keyframes slide_in {
    from {
        left: 40px;
        opacity: 25%;
    }

    to {
        left: 0px;
        opacity: 100%;
    }
}

// Disabling all motion
@media (prefers-reduced-motion: reduce) {
    .bg {
        display: none;
    }

    .employment_container {
        .timeline_container {
            .guide {
                i {
                    transform: none;
                }

                h1:hover i {
                    left: -0px;
                }
            }

            ul {
                li {
                    span {
                        :hover {
                            cursor: pointer;
                            transform: none;
                        }
                    }
                }
            }
        }
    }

    .event_active {
        animation: none;
    }

    .event_active_pic {
        transform: none;
    }

    .card_container:hover {
        transform: none;
    }
}